.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}
button {
    cursor: pointer;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
    color:#434455;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
}
address {
    font-style: normal;
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;  
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color:#2E2F42;
  text-align: center;
}
.list-title {   
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.list-text {
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/*========COMMON STYLES========*/

/*========HEADER STYLES========*/

.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;    
}
.header-container {
    display: flex;
    justify-content: space-between;
}
.page-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 76px;
}
.menu {
    display: flex;
    gap: 40px;
}
    
.contact-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;    
}       

.logotype {
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
margin-right: 76px;
}
.accent {
    color: #2E2F42
}
.menu-link {
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
padding: 24px 0;
}
.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}
.contact {
    font-style: normal;
}
.contact-list-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}
.contact-list-link:hover,
.contact-list-link:focus {
    color: #404BBF;
}
/*========HEADER STYLES========*/


/*========HERO STYLES========*/
.hero {
    background-color: #2E2F42;
    padding: 188px 0; 
}
  
.main-title {
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #FFFFFF;
margin-bottom: 48px;
max-width: 496px;
margin-left: auto;
margin-right: auto;

}
.order-service-btn {
    display: block;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;    
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 188px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.order-service-btn:hover,
.order-service-btn:focus {
    background-color: #404BBF;    
}


/*========HERO STYLES========*/


/*========BENEFITS STYLES========*/
.benefits {
    padding-top: 120px;
    padding-bottom: 120px; 
}
.benefits-list {
    display: flex;
    gap: 24px;
}
.benefits-list-title {
    margin-bottom: 8px;
}
.benefits-list-item{
    display: flex;
    gap: 8px;
    flex-direction: column;
    width: 264px;
    align-items: flex-start;
}

/*========BENEFITS STYLES========*/

/*========OUR  TEAM========*/
.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.our-team-list-item {
    background-color: #FFFFFF;
}
.section-title {
    margin-bottom: 72px;
}
.our-team-list {
    display: flex;
    gap: 24px;
}
.our-team-list-item {
    width: calc((100%-72px)/4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.thumb {
    padding: 32px 0;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-team-list-title {
    margin-bottom: 8px;
    text-align: center;
}
.our-team-list-text {
    text-align: center;

}

/*========OUR  TEAM========*/

/*========OUR PORTFOLIO========*/
.portfolio {
    padding: 120px 0;
}
.section-title {
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-list-item {
    width: calc((100% - 48px) / 3); 
}
.thumb-portfolio {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;    
}
.portfolio-list-title  {
    margin-bottom: 8px;
}

/*========OUR PORTFOLIO========*/

/*========FOOTER STYLES========*/
.page-footer {
    background-color: #2e2f42 ;
    padding: 100px 0;
}
.page-footer .accent {
    color: #f4f4fd;
}
.page-footer-text {
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
}
.page-footer .logotype {
    display: inline-block;
    margin-bottom: 16px;
}
/*========FOOTER STYLES========*/




